.bg {
    -fx-background-image: url("walp/ee.jpg");
    -fx-background-size: 950px 700px;
}
.bg1 {
    -fx-background-image: url("walp/aa.gif");
}

.dots {
    -fx-background-image: url("walp/dots.jpg");

}